@media screen and (min-width: 1025px) {
  .container-step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .container-card_sub2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  .container-card_sub2__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 150px;
  }
  .containercard-block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }
  .title-span {
    position: absolute;
    left: 620px;
  }
  .card {
    max-height: 600px;
  }
}
