@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Global site */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
}

/* #bloc-page {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* HEADER */
.return_index {
  display: flex;
  align-items: center;
  justify-content: center;
}
.return_index .fa-arrow-left {
  position: absolute;
  left: 25px;
  top: 25px;
  color: black;
}
h1 {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  margin: 0px;
  padding: 0.5rem;
  width: 100%;
}
header {
  position: relative;
}

/* MAIN  */

h3 {
  font-family: "Roboto", sans-serif;
}
h4 {
  font-weight: lighter;
}
.main_picture {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

/*  SECTION MENU & CARTES */
#titre_sub_section_menu {
  font-weight: normal;
}
.title_underline {
  display: block;
  height: 3px;
  width: 50px;
  background: #99e2d0;
  margin-top: -15px;
  margin-bottom: 20px;
}
.titre_section_menu {
  font-family: "shrikhand", cursive;
  font-size: x-large;
}
.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}

.card {
  border-radius: 40px 40px 0 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f6f6f6;
}

.restaurantmenu__presentation__title__like,
.restaurants__figcaption__like {
  position: relative;
  width: 2rem;
  /* margin: 0.3rem 0.5rem 0 0; */
  cursor: pointer;
}

.restaurants__figcaption__like__emptyheart {
  width: 1.5rem;
  position: absolute;
  top: -10px;
}

.restaurants__figcaption__like__fullheart {
  width: 1.5rem;
  position: absolute;
  opacity: 0;
  top: -10px;
}

.restaurants__figcaption__like__fullheart:hover {
  opacity: 1;
  transition: 400ms ease-in-out;
}

#titre_sub_section_menu {
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-family: "Roboto", sans-serif;
}
#titre_sub_section_menu::after {
  position: absolute;
  width: 30px;
  content: "";
  height: 10px;
  color: #99e2d0;
}
.card_sub {
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  position: relative;
}
/* INSERTION EFFET DANS MENU */
.card_sub_2 {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  display: flex;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  background: white;
  /* padding: 15px; */
  border-radius: 15px;
  /* margin: 0 auto;
  margin-top: 50px;*/
  height: 75px;
  position: relative;
  margin-bottom: 15px;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-name: slideIn;
}
@keyframes slideIn {
  from {
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0);
    opacity: 1;
  }
}
.card_sub_2 .price {
  position: relative;
}

.card_sub_2 h3 {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 16px;
}
.card_sub_text_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  overflow: hidden;
}
.container-menu__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.container-menu__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.card_sub_2 .item_hover {
  position: relative;
  top: 0;
  right: 0;
  width: 0px;
  border-radius: 0px 15px 15px 0px;
  background: #99e2d0;
  transition: width ease 0.5s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_sub_2:hover .item_hover {
  width: 100px;
}

.card_sub_2:hover .item_hover .fa-check-circle {
  transform: rotate(360deg);
}

.container-menu__description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: width ease 0.7s;
  margin-top: 0px;
  font-weight: lighter;
  margin: 0;
  display: block;
}
.card_sub_2 H3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0px;
  transition: with ease 0.7s;
}
.card_sub_2:hover h3 {
  width: calc(100% - 70px);
}

/* .card_sub_2:hover p {
  width: calc(100% - 70px);
} */
/* card_sub_2 i {
  position: absolute;
  left: 248px;
  top: 20px;
  width: 0px;
  height: 75px;
  font-size: xx-large;
  visibility: hidden;
  color: white;
} */
/* .fa-check-circle {
  /* transform: translateY(0); */
/* } */
.card_sub_2 .fa-check-circle {
  transition: 0.4s ease-in-out;
  color: white;
  font-size: xx-large;
}

/*   fin insertion */

.card_sub h3 {
  margin-bottom: 0px;
  margin-top: 10px;
}
.card_sub h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.card_sub_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.violet_button {
  font-family: "roboto", sans-serif;
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient(
    to top,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 2px 1px 6px -3px #000000;
  transition: transform 200ms, filter 200ms;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  filter: brightness(0.85);
}
a {
  align-self: center;
}
.violet_button:hover {
  transform: scale(1.02);
  filter: brightness(1);
}
