@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .step_1_title {
    font-size: 12px;
  }
  .fa-mobile-alt {
    margin-left: 5px;
  }
  .title-span {
    position: absolute;
    right: 15px;
  }
  /* .title-span2 {
    position: absolute;
    left: 250px;
  } */

  .card span {
    right: 15px;
  }

  .containercard-block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }
  .containercard-block1 .card {
    width: calc(100% - (12px / 2));
    position: relative;
  }
  .section_3 {
    padding-bottom: 50px;
  }
  /* mobile_restaurant */
  .container-card_sub2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  .container-card_sub2__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 150px;
  }
  .card_sub_2 {
    height: 64px;
    align-content: center;
    align-items: center;
    width: 100%;
    min-width: 150px;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-name: slideIn;
  }
  @keyframes slideIn {
    from {
      transform: translate3d(0, 15px, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  .card_sub_2 h3 {
    font-size: 13px;
  }

  .container-menu__description {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: width ease 0.7s;
    display: block;
  }
  .card_sub_2 .item_hover {
    height: 64px;
  }
  .card_sub_2 .price {
    font-size: 13px;
  }
  .card_sub_2:hover .item_hover {
    width: 70px;
  }
  .card_sub_2:hover p {
    width: calc(100% - 30px);
  }
  .card_sub_2 .fa-check-circle {
    font-size: large;
  }
  .card {
    max-height: 604px;
  }
}
